# website repo
site/

# generated docs
*html/

# linux temp files
*~

# visual studio specific
*.suo
*.sdf
*.opensdf
*.user
*.lib

*Debug/
*Release/
*ipch/

#code blocks stuff
*.depend
*.layout
*.gch
*.cbTemp

*bin/
*obj/
